.proposals {
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 0 3px rgb(0 0 0 / 10%);
}

.comment_header {
  img {
    border-radius: 100%;
    width: 50px;
    max-width: 100%;
    height: auto;
    max-height: 50px;
  }
}

#makeProposalForm {
  display: none;
}

#block-blockwithmakeproposalsbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
