//$colorRed: #B6152B;
//$colorGrey: #888;
//$colorLightGrey: #FBFBFB;
//$colorBlue: #00305D;
$screen-xs: 300px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1200px;
//$colorFacebook: #3A5795;
//$colorLinkedin: #0270AD;
//$colorYoutube: #E62117;
//$colorRss: #F26522;
//$colorTwitter: #0084B4;
